.content-fragment .block {
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.content-fragment p {
  margin: 0;
}

.content-fragment .title {
  font-size: 56px;
}

.content-fragment .description {
  white-space: pre-line;
}

.content-fragment .card-body-image {
  margin: 1rem 0;
}

.content-fragment .card-body-image img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.content-fragment a.button {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  margin: 0;
}

.content-fragment a.button:hover {
  text-decoration: underline;
}


@media (width <= 768px) {
  .content-fragment .title {
    font-size: 36px;
  }

  .content-fragment p {
    font-size: 14px;
  }
}